.App {
  text-align: center;
  font-family: "Segoe UI",Arial,sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App button:visited {
  background: #104261;
}
.App button {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  height: 2em;
  background: #1a71a5;
  text-shadow: 0px -1px 1px #0d3750;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  cursor: pointer;
}
